body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

@keyframes slide-tl {
    0% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(-50vh) translateX(-100vw);
    }
}


.slide-tl {
    top: 25%;
    right: -15vw;
    position: absolute;
    width: 15vw;
    z-index: -3;
	animation: slide-tl 10s linear 1s infinite  backwards;
}

@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

.star {
    position: absolute;
    z-index: -4;
    top: 0;
    right: 0;
}

.star1{
    animation: myAnim 6s ease 0s infinite normal backwards;
}

.star2{
    animation: myAnim 6s ease 1s infinite normal backwards;
}

.bgbl {
    position: absolute;
    bottom: 0;
    left: 0;
    object-position: left bottom;
    z-index: -2;
}