* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    background-image: linear-gradient(#551343,#761A55, #A12050);
    margin: 0 auto;
}

h1 {
  color: #5B6D99;
  text-align: justify;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  }

h2 {
    text-align: justify;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.wordState {
    letter-spacing: 5px;
}

p {
    text-align: justify; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.letterUsed {
    letter-spacing: 5px;
}

form {
    text-align: center;
    position: relative;
}

.textInputBox {
    background-color: rgba(255, 255, 255, 0.25);
    margin: 10px;
    border-radius: 50px;
    width: 50%;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    padding-left: 20px;
    margin: 20px;
    color: black;
}

.buttonInput {
    border-radius: 50px;
    margin: 20px;
    width: 50%;
    height: 50px;
    border: none;
    color: white;
    background-color: #5C0F40;
}

.buttonInput:hover{
    background-color: #20022B;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 75%;
    height: 100vh;
}