
header {
    position: absolute;
    width: 100vw;
    z-index: 2;
}

.leftbloc {
    padding: 30px 40px;
    height: 70px;
    display: flex;
    flex-direction: row;
}

.userpart {
    margin: auto 10px;
    display: flex;
    flex-direction: column;
}

.xpprogression {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.xpprogression p{
    background-color: rgba(128, 128, 128, 0.5);
    padding: 2px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.xpprogressionbar {
    width: 8vw;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.xppprogression {
    background-color: aqua;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.logo1 {
    position: relative;
    width: 70px;
    height: 70px; 
}

#content {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.leftbox {
    width: 50vw;
}

.rightbox {
    display: flex;
    justify-content: end;
    margin-right: 5vw;
    width: 50vw;
}

nav.menu ul li.bouton{
    list-style-type: none;
    display: inline-block;
}

nav.menu ul li.bouton a{
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 20px;
    transition: 1s all;
}

nav.menu ul li.bouton.current a{
    font-weight: 600;
}

nav.menu ul li.bouton:hover a{
    color: rgba(255, 255, 255, 0.687);
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.687);
    border-style: solid;
}

embed {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}