* {
    color: rgba(255, 255, 255, 0.88);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    z-index: 1;
}

body {
    background-image: linear-gradient(#551343,#761A55, #A12050);
    margin: 0 auto;
}

h1 {
  color: #de3d7b;
  text-align: center;
}

h2 {
    color: #d6c3d9;
    text-align: center;
    font-weight: lighter;
}


h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}
.sect1 {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;

}
.sect1 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;

}
.sect1 .regles {
    margin: 0 10vw;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(10px);
}