* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    z-index: 1;
}

body {
    background-image: linear-gradient(#551343,#761A55, #A12050);
    margin: 0 auto;
}

h1 {
    color: #de3d7b;
    text-align: center;
    font-size: 80px;
  }

h2 {
    color: #87807a;
    text-align: center;
    font-weight: lighter;
}

.sect1 {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;

}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

}

.scoreboard {
    overflow-y: auto;
    margin:5vh 10vw;
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(10px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.content {
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.itemsect {
    width: 20%;
    text-align: left;
}

.sect1 .scoreboard .header {


    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}
.sect1 .scoreboard .item {

    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.bgbl {
    z-index: -1;
    position: absolute;
    height: 75vh;
    width: 75vh;
    bottom: 0;
    left: 0;
    object-position: left bottom;
}