* {
    color: rgba(255, 255, 255, 0.88);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    z-index: 1;
}

header {
    position: absolute;
    width: 100vw;
    z-index: 2;
}

.logo {
    margin: 30px 40px;
}

.logo1 {
    position: relative;
    width: 70px;
    height: 70px; 
}

#content {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div#content div{
    display: flex;
    width: 50vw;
}

.rightbox {
    display: flex;
    justify-content: end;
    margin-right: 5vw;
}

nav.menu ul li.bouton{
    list-style-type: none;
    display: inline-block;
}

nav.menu ul li.bouton a{
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 20px;
    transition: 1s all;
}

nav.menu ul li.bouton.current a{
    font-weight: 600;
}

nav.menu ul li.bouton:hover a{
    color: rgba(255, 255, 255, 0.687);
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.687);
    border-style: solid;
}

body {
    background-image: linear-gradient(#551343,#761A55, #A12050);
    margin: 0 auto;
    width: 100vw;
}

h1 {
  color: #de3d7b;
  text-align: center;
  font-size: 80px;
}

h2 {
    color: #d6c3d9;
    text-align: center;
    font-weight: lighter;
}

form {
    text-align: center;
    position: relative;
}

.textInputBox {
    background-color: rgba(255, 255, 255, 0.25);
    margin: 5px;
    border-radius: 50px;
    width: 50%;
    height: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(98, 98, 98, 0.25);
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.61);
}

.textInputBox:focus {
    outline: none;
}

.textInputBox::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.buttonInput {
    border-radius: 50px;
    margin: 20px;
    width: 50%;
    height: 50px;
    border: none;
    color: white;
    background-color: #5C0F40;
}

.buttonInput:hover{
    background-color: #20022ba4;
}

.sect1 {
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.principal {
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 40vw;
}

.secondary {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondary .content {
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    width: 22vw;
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(10px);
}

.secondary .content h2 {
    margin: 40px;
}

.secondary .content p {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    user-select: none;
}

.sizeContent {
    height: 15vh;
}


.radiogroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button-label {
    position: relative;
    bottom: 1em;
    margin: 1em;
    border-radius: 0.5em;
    padding: 0.8em 2.2em;
    display: inline-block;
    background: rgba(255, 255, 255, 0.151);
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.413), inset 0 -3px 0 rgba(60, 60, 60, 0.341);
}
.container div label span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, .1);
}
#easy-button:checked + .button-label {
    background: rgb(60, 170, 60);
    color: white;
}   
    
:hover {
    background: darken(rgb(60, 170, 60), 5%);
    color: darken(white, 5%);
}
  
#medium-button:checked + .button-label {
    background: rgb(244, 169, 94);
    color: white;
}
    
:hover {
    background: darken(rgb(244, 169, 94), 5%);
    color: darken(white, 5%);
}
#hard-button:checked + .button-label {
    background: rgb(184, 42, 42);
    color: white;
}
    
:hover {
    background: darken(rgb(184, 42, 42), 5%);
    color: darken(white, 5%);
}
.hidden {
    display: none;
}
.button-label:hover{
    background-color: #312f32a3;
}

.saveprogressionbar {
    position: fixed;
    width: 10vw;
    height: 2vh;
    bottom: 2vh;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    object-position: center;
}