* {
    color: rgba(255, 255, 255, 0.88);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    z-index: 1;
    user-select: none;
    text-decoration: none;
}

body {
    background-image: linear-gradient(#551343,#761A55, #A12050);
    margin: 0 auto;
    width: 100vw;
}

h1 {
  color: #de3d7b;
  text-align: center;
}

.title {
    text-align: center;
}

h2 {
    color: #d6c3d9;
    text-align: center;
    font-weight: lighter;
}

form {
    text-align: center;
    position: relative;
}

.textInputBox {
    background-color: rgba(255, 255, 255, 0.25);
    margin: 5px auto;
    border-radius: 50px;
    width: 50%;
    height: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(98, 98, 98, 0.25);
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.61);
}

.textInputBox:focus {
    outline: none;
}

.textInputBox::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.buttonInput {
    border-radius: 50px;
    margin: 20px auto;
    margin-top: 0;
    width: 50%;
    height: 50px;
    border: none;
    color: white;
    background-color: #5C0F40;
}

.buttonInput:hover{
    background-color: #20022ba4;
}

.sect1 {
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.principal {
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
}


.secondary {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: visible;
}

@media screen and (max-width:1240px) {   
    .secondary {
        display: none;
    }

    .principal {
        width: 75%;
    }
    /*768px for mobil*/
    .content {
        justify-content: center;
        height: 100%;
    }

    .saveprogression {
        display: none;
    }

    /*input[type="text"]{
        min-width: 280px;
    }
    input[type="password"]{
        min-width: 280px;
    }
    input[type="submit"]{
        min-width: 260px;
    }*/
}


.secondary .content {
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    width: 22vw;
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(10px);
}

.secondary .content h2 {
    margin: 40px;
}

.secondary .content p {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.sizeContent {
    height: 15vh;
}


.radiogroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button-label {
    position: relative;
    bottom: 1em;
    margin: 1em;
    border-radius: 0.5em;
    padding: 0.8em 2.2em;
    display: inline-block;
    background: rgba(255, 255, 255, 0.151);
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.413), inset 0 -3px 0 rgba(60, 60, 60, 0.341);
}
.container div label span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, .1);
}
#easy-button:checked + .button-label {
    background: rgb(60, 170, 60);
    color: white;
}   
    
:hover {
    background: darken(rgb(60, 170, 60), 5%);
    color: darken(white, 5%);
}
  
#medium-button:checked + .button-label {
    background: rgb(244, 169, 94);
    color: white;
}
    
:hover {
    background: darken(rgb(244, 169, 94), 5%);
    color: darken(white, 5%);
}
#hard-button:checked + .button-label {
    background: rgb(184, 42, 42);
    color: white;
}
    
:hover {
    background: darken(rgb(184, 42, 42), 5%);
    color: darken(white, 5%);
}
.hidden {
    display: none;
}
.button-label:hover{
    background-color: #312f32a3;
}

.saveprogression {
    position: fixed;
    width: 10vw;
    height: 2vh;
    bottom: 2vh;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    object-position: center;
}

.saveprogressionbar {
    width: 10vw;
    height: 2vh;
    background-color: #551343;
    border-radius: 1vh;
}

.saveprogressiontitle {
    text-align: center;
    margin-bottom: 2px;
}

.progression {
    background-image: linear-gradient(to right,#741135,#741135bb,#7411357c);
    height: 100%;
    border-radius: 1vh;
}

.logouticon {
    position: absolute;
    object-position: bottom right;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
}

.registertext a {
    color: #5C0F40;
    text-decoration: none;
    font-weight: bold;
}

.registertext {
    margin: 20px;
}


.registerpop {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    width: 50vw;
    padding: 8% 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.registerpop form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.registerpop .textInputBox {
    margin: 10px auto;
}

.registerpop .buttonInput {
    margin: 10px auto;
}

.registerpop h2 {
    color: white;
    padding-bottom: 5%;
    font-weight: bold;
}

.errmessage {
    color: red;
}

form .username {
    margin: 20px;
}