<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HangmanWeb</title>
    <link rel="stylesheet" href="./server/css/scoreboard.css">
    <link rel="stylesheet" href="./server/css/backgroundstyle.css">
    <link rel="stylesheet" href="./server/css/headerstyle.css">
    <link rel="icon" type="image/x-icon" href="./server/images/logo/logo2.png">
</head>

<header>
    <div id="content">
    <!--leftbox -->
        <div class="leftbox">
            <!-- Logo -->
            <div class="leftbloc">
                <img class="logo1" id="home" src="./server/images/logo/logo2.png">
            </div>
            <embed src="./server/sound/Deck the Halls - Kevin MacLeod.mp3" loop="true" autostart="true">
        </div>
    <!--rightbox-->
        <div class="rightbox">
        <!-- Menu de navigation -->
                <nav class="menu">
                    <ul>
                        <li class="bouton"><a href="/home">Home</a></li>
                        <li class="bouton"><a href="/rules">Rules</a></li>
                        <li class="bouton current"><a href="/scoreboard">Scoreboard</a></li>
                    </ul>
                </nav>
        </div> 
    </div>
</header>

<body>
    <div class="sect1">
        <h1 class="title">Scoreboard<br></h1>
        <div class="scoreboard">                         
            <div class="header item">
                <p class="itemsect">#</p>
                <p class="itemsect">Name</p>
                <p class="itemsect">Save</p>
                <p class="itemsect">Dead</p>
                <p class="itemsect">Total</p>
            </div>

            <div class="content">
                {{ range $i, $a := .UsersList }}
                <div class="item">                  
                    <p class="itemsect">{{ if eq $i 0}} 👑 {{ else }} {{$i}} {{ end }}</p>
                    <p class="itemsect">{{ .Username}}</p>
                    <p class="itemsect">{{ .Win}}</p>
                    <p class="itemsect">{{ .Loose}}</p>
                    <p class="itemsect">{{ .GamePlay}}</p>
                </div>
                {{ end }}

            </div>
        </div>
    </div>
    <img class="slide-tl" src="./server/images/background/santaclaus.png" alt="">
    <img class="bgbl" src="./server/images/background/bgbl.png" alt="">
    <img class="star1 star" src="./server/images/background/star1.png" alt="">
    <img class="star2 star" src="./server/images/background/star2.png" alt="">
</body>

</html>